services:
  - type: web
    name: flask-app
    env: python
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: python -m waitress --host 0.0.0.0 --port $PORT app:app


